.loadingScreen{
  background-color: rgba(224, 42, 42, 0.836);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:center;
  align-items: center;
  color: chartreuse;
  font-size: 70px;
  font-style: italic;
  font-weight: 300;
  animation:animationText 3s forwards;
}
*{
padding:0;
margin:0;
}
@keyframes animationText {
  0%{color: chartreuse; font-size: 70px;display: flex;}
  25%{color: rgb(230, 226, 21);font-size: 50px;display: flex;}
  50%{color: chartreuse;font-size: 67px;display: flex;}
  75%{color: rgb(226, 214, 46);font-size: 87px;display: flex;}
  100%{color: chartreuse;font-size: 70px;display: none;}
  
}
.mainScreen {
  width: 100%;
  height: 100vh;
  display:grid;
  grid-template-rows: 20% 68% 12%;
}
.controlPanel{
  display:flex;
  justify-content: space-around;
}
.hrefControl{
  width: 25%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.buttonControl{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  color: rgb(21, 255, 0);
}
.commandPanel{
  padding: 20px;
  text-align: center;
  h2,p,h3{
    margin-bottom: 40px;
  }
  background-color: rgb(253, 236, 0);
}
.controlPanel{
  display: flex;
  justify-content: center;
  align-items: center;
    width:100%;
}
.topScorePanel{
  height:60%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}
.energy, .tickets{
  height:30%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  img{
    width:50px;
    position: relative;
    left: 20px;
    z-index: 3;
  }
  .energyBox, .ticketBox{
    width:100px;
    height:20px;
    background-color: rgb(5, 222, 238);
    border-radius: 6px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-weight:800;
    font-size:13px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
  }
}
#energyFill{
  position: absolute;
  left:0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg,rgb(122, 122, 221) 0%,rgb(0, 171, 238) 100%);
}
#energyText,#ticketText{
  z-index: 2;
}
#ticketFill{
  position: absolute;
  left:0;
  width: 5%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(90deg,rgb(255, 0, 0) 0%,rgb(253, 194, 0) 100%);
}
.Score{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50px;
    font-size: 36px;
    font-weight: 800;
  }

}
.buttonScorePanel{
  text-align: center;
  color: rgb(87, 87, 248);
  font-weight: 600;
}
.upgrade{
  padding: 20px;
}
.containerCardsUpgrade{
  display:flex;
  justify-content: center;
}

.card{
  width: 30%;
  height: 200px;
  background-color: rgb(91, 91, 233);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.imgCard{
  width: 100%;
  height: 120px;
  border-radius: 7px;
  p{
    background-color: aliceblue;
    font-size: 12px;
    text-align: center;
  }
}
.card:nth-child(1) .imgCard{
  background-image: url(image/eco-battery_2639074.png);
  background-size: cover;
}
